/* Body */

body {
	margin: 0px;
}

/* Header */

#icon {
	border: 1px solid #aaa;
	background: #333;
	font-size: 40px;
	font-weight: bold;
	width: 125px;
	margin: 100px;
	margin-top: 50px;
}

#e {
	color: green;
	padding-left: 5px; 
}

#m {
	color: yellow;
}

#b {
	color: red;
}

ul {
	position: absolute;
	list-style-type: none;
	right: 100px;
	top: 40px;
	display: flex;
}

ul li {
	padding-right: 20px;
	
}

li a {
	text-decoration: none;
	font-size: 22px;
	font-family: sans-serif;
	color: black;
	opacity: 70%;
	padding-bottom: 5px;
}

#abcd {
	opacity: 100%;
	border-bottom: 2px solid black;
}

/* Main */

main {
	margin: 100px 200px 100px 200px;
}

#h1 {
	background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('image/land.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 200px;
	border-radius: 10px;
}

#h1 h1 {
	padding-top: 50px;
	text-align: center;
	font-family: cursive;
	color: white;
}

main p {
	font-size: 20px;
	text-indent: 50px;
	font-family: sans-serif;
}

#container {
	position: relative;
	margin: 150px 100px 60px 100px;
	width: 700px;
	height: 500px;
	background: green;
	text-align: center;
	border-radius: 5px;
	transition: transform 1s;
}

#container:hover {
	transform: rotateY(180deg);
}

.box, .bbox {
	position: absolute;
	width: 700px;
	height: 500px;
	backface-visibility: hidden;
}

.box {
	background: blue;
	color: white;
}

.bbox {
	background: red;
	color: black;
	transform: rotateY(180deg);
}

/* Footer */

footer {
	width: 100%;
	height: 50px;
	text-align: center;
	padding-top: 20px;
	background: #555;
	font-size: 20px;
	font-family: monospace; 
}