h4 {
	font-family: sans-serif;
	color: red;
}

img {
	width: 45%;
	height: 35%;
	float: left;
	padding: 20px;
	padding-bottom: 30px;
}

span {
	position: absolute;
	left: 6%;
	top: 49%;
	filter: opacity(50%);
	font-size: 0.8em;
}